@tailwind base;
@tailwind components;
@tailwind utilities;


header ul li {
  @apply px-3;
}
.bg-primery{
  background: rgb(85,81,227);
}
.bg-secondary{
  background: #2b2d77;
}
.mobile {
  @apply fixed top-16 left-0 bg-gray-800 w-full h-1/3;
}

.mobile li {
  @apply w-full py-3 text-center border-b-2 border-gray-400 text-white;
}
.project-desc{
  @apply  absolute left-0 right-0 bottom-0 top-0 bg-secondary opacity-0 duration-500 hover:opacity-100
}

/* App.css or index.css */
.btn {
  @apply bg-blue-500 text-white px-5 py-2 font-bold border-2 border-blue-700 rounded-lg hover:bg-blue-600 hover:border-white;
}


html{
  scroll-behavior: smooth;
}